@charset "utf-8";
/* CSS Document */
h1 {
	color:#002E5D;
	font-family:enriqueta,serif;
	font-weight:bold;
	font-size:37px;
	padding-left:10px;
	padding-right:10px
}
h2 {
	color:#002E5D;
	font-family:enriqueta,serif;
	font-weight:bold;
	font-size:22px;
	padding-left:10px;
	padding-right:10px
}
h3 {
	color:white;
	background-color:#227084;
	font-family:enriqueta,serif;
	font-weight:bold;
	font-size:27px;
	padding-left:10px;
	padding-right:10px
}
h4 {
	color:black;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight:bold;
	font-size:15px;
	padding-left:10px;
	padding-right:10px
}
p {
	color:black;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:15px;
	padding-left:10px;
	padding-right:10px
}
ol {
	color:black;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:15px;
}
ul {
	color:black;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:15px;
}
.header{
	float:left;
	width:100%;
	background-color:#b8e2ed;
}
.pageheader{
	float:right;
	width:75%;
	position:relative;
	}
.container5 {
    float:left;
    width:100%;
    background:#e1f3f7;
    overflow:hidden;
	position:relative;
}
.container4 {
    float:left;
    width:100%;
    background:white;
	position:relative;
    right:23%;
}
.container3 {
    float:left;
    width:100%;
    background:#cceaf2;
	position:relative;
    right:2%;
}
.container2 {
    float:left;
    width:100%;
    background:white;
	position:relative;
    right:50%;
}
.container1 {
    float:left;
    width:100%;
    background:#e1f3f7;
	position:relative;
    right:2%;
}
.col1 {
    float:left;
    width:23%;
	position:relative;
    left:77%;
}
.col2 {
    float:left;
    width:50%;
	position:relative;
    left:79%;
}
.col3 {
    float:left;
    width:23%;
	position:relative;
    left:81%;
}